.side-container {
  position: fixed;
  width: 40%;
  min-width: 600px;
  height: 100vh;
  background-color: #fff;
  right: -40%;
  z-index: -200;
  top: 0;
  opacity: 0;
  overflow-y: auto;

  transition: all 0.5s ease-in-out;

  &.visible {
    visibility: visible;
    z-index: 999;
    right: 0;
    opacity: 1;
  }
}
