.control {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  position: relative;

  input {
    display: block;
    flex: 3;
    padding: 18px 24px;
    font-size: 18px;
    border-radius: 6px;
    border: 1px solid #ccc;
    transition: all 0.2s ease-out;
    height: 60px;
    margin-bottom: 8px;

    &:focus {
      outline: none;
      border-width: 1px;
      border-color: var(--highlight-color);
      color: var(--primary-color);
    }
  }

  &.invalid {
    .helper {
      color: var(--danger-color);
      font-style: normal;
      font-weight: bold;
    }

    input {
      border: 2px solid var(--danger-color);

      &::placeholder {
        color: var(--danger-color) !important;
      }
    }
  }

  label {
    color: #464646;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: flex-start;
  }

  .helper {
    position: absolute;
    bottom: -16px;
    font-style: italic;
    font-size: 1rem;
  }
}

.label {
  display: block;
  font-weight: bold;
  font-size: 14px;
  color: #464646;
  text-transform: uppercase;
}

.label-helper {
  margin-left: 8px;
  font-style: italic;
}
