@use 'src/assets/styles/_mixins.scss' as mxs;

.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, min(calc(var(--card-w))));
  justify-content: space-between;
  row-gap: 36px;
  @include mxs.reset-list;
}
