.nav-item {
  margin-right: 3rem;
  list-style-type: none;

  a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    transition: all 0.2s ease-in;

    &.active {
      color: var(--highlight-color);
      cursor: default;
    }

    &:not(.active):hover {
      filter: brightness(0.8);
    }
  }
}
