@use 'src/assets/styles/_mixins.scss' as mxs;

$highlight-color: #e76316;

.button {
  @include mxs.btn-effects;
  height: 48px;
  white-space: nowrap;
  background-color: var(--highlight-color);
  color: white;
  padding: 12px 40px;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  border: 1px solid var(--highlight-color);
  border-radius: 8px;
  @include mxs.add-shadow(#92207242);
  transition: all 0.15s ease-out;

  &:focus {
    outline: none;
  }

  &:disabled {
    @include mxs.add-shadow(#00000042);
    background: #ccc;
    color: #000;
    border: none;
    opacity: 0.75;
    cursor: not-allowed;
  }
}

.outline {
  @include mxs.add-shadow(#e763162e);
  background-color: #fff;
  color: var(--highlight-color);
}

.children {
  display: flex;
  align-items: center;
}
