@use 'src/assets/styles/_mixins.scss' as mxs;

$highlight-color: #e76316;

.button {
  height: 48px;
  width: 172px;
  white-space: nowrap;
  background-color: var(--highlight-color);
  color: white;
  padding: 12px 42px;
  cursor: pointer;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  @include mxs.add-shadow(#92207242);
  transition: all 0.15s ease-out;

  &:hover,
  &:active {
    background-color: darken($highlight-color, 10%);
  }

  &:active {
    background-color: darken($highlight-color, 15%);
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    background: #ccc;
    color: #000;
    opacity: 0.75;
    @include mxs.add-shadow(#00000042);
    cursor: not-allowed;
  }
}
