@use 'src/assets/styles/_mixins.scss' as mxs;

.file-input {
  ::-webkit-file-upload-button {
    display: none;
  }

  input {
    opacity: 0;
  }

  button {
    position: absolute;
    bottom: 12px;
  }
}
