@use 'src/assets/styles/_mixins' as mxs;

.modal {
  @include mxs.size(440px);
  @include mxs.center-fixed;
  position: fixed;
  background-color: #fff;
  padding: 28px 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  top: -50%;
  opacity: 0;
  transition: all 0.5s ease-in-out;

  &.visible {
    visibility: visible;
    z-index: 999;
    top: 50%;
    opacity: 1;
  }
}

.footer {
  @include mxs.flex-center();
  @include mxs.dash(top, 20px);
}

.header {
  @include mxs.flex-center(column);
}

.icon-container {
  @include mxs.size(160px);
  @include mxs.flex-center;
  border-radius: 100%;
  border: 6px solid #e4e4e4;
}

.icon {
  @include mxs.size(68px);
}

.close-icon {
  @include mxs.size(48px);
  @include mxs.btn-effects;
  position: absolute;
  top: -16px;
  right: -16px;
  color: var(--highlight-color);
  cursor: pointer;
}
