@use 'assets/styles/variables.scss' as vars;

.card-search-input {
  margin: 0;
  margin-top: calc(80px - var(container-p-y));

  input {
    padding: 24px 28px;
    height: 76px;
    font-size: 24px;
  }
}
