@use 'src/assets/styles/_mixins.scss' as mxs;

.icon-button {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: flex-end;
  transition: all 0.25s ease-out;
  filter: brightness(1);

  div {
    margin-left: 12px;
  }

  &:hover,
  &:active {
    filter: brightness(0.9);
  }

  &:active {
    filter: brightness(0.75);
  }
}
