:root {
  --primary-color: #5f1478;
  --secondary-color: #ae276f;
  --danger-color: #db2525;
  --highlight-color: #e76316;
  --bg-primary-color: #f6f4f6;
  --container-p-x: 168px;
  --container-p-y: 32px;
  --card-w: 232px;
}
