@use './_variables.scss' as vars;
@import url('https://use.typekit.net/boa7mju.css');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Muli, 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: vars.$bg-primary-color;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button,
input {
  font-family: inherit;
}
